@charset "utf-8";

#section { background: #ddd; padding-bottom: 100px;}

.img { 
    width: 100%; height: 600px; 
    position: relative; 
    background: url(../img/aboutus.jpg) no-repeat center;
    background-size: cover;
}
.img h1 { 
    position: absolute; top: 50%; left: 50%; color: #fff; font-size: 60px;
    transform: translate(-50%, -50%); font-weight: bold;
}
h2 { 
    text-align: center;
    font-size: 24px; font-weight: 600; color: #161616; padding-bottom: 20px;
}
.abbox {padding: 100px; }
.abbox > p { text-align: center; }
.abbox .title { text-align: center; margin: 40px 0;}
.abbox .title a { 
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block; 
    padding: 10px 30px; 
    color: #a9a9a9; 
    font-weight: bold; transition: all 0.5s;
}
.abbox .title a.on {
    color: #000; 
}


#container { min-height: 700px; background: #fff;}
#container #content { height: 700px; overflow: hidden;}
#container #content .aimg { float: left; width: 450px;}
#container #content .atxtb { 
    float: right; width: 520px; 
    padding: 50px; font-weight: 300; line-height: 1.5;
    text-align: center;
}
#container #content .atxtb h3 { font-size: 24px; font-weight: 600; color: #161616; }
#container #content .atxtb p { padding: 15px;}